{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="container-lg bg-light text-dark p5 border-top border-primary border-5 mb-4">
            <div class="container-lg bg-light p-5">
                <h1 class="display-5 mb-5">About Me-</h1>
                <div class="row">
                    <img src="../../static/images/mypic1.jpg"
                         class="col-md-6 col-lg-3 img-fluid img-thumbnail float-start mx-auto mb-3"
                         alt="A picture of me"
                         style="max-width: 350px;">
                    <p class="col-md-6 col-lg-9 px-auto">
                        Welcome to my personal website. I am Aron Shrestha, a junior undergrad at New Jersey Institute of Technology. I am currently pursuing a degree in computer science with a
                        minor
                        in Mobile and Web. I am an aspiring software Engineer and am enthusiactic about computer
                        science. I
                        really enjoy
                        keeping up with all the new technologies. I also enjoy playing video games and listening to
                        music in
                        my spare time.<br><br>
                        As a computer science student I am proficient with programming languages such as Java, C++, and
                        Python. I am also learning web development and am proficient with
                        HTML and CSS. I intend for this website to keep improving as I improve on my skills. This website will be up to date with all of my latest projects and accomplishments.

                    </p>
                </div>
            </div>
        </div>
        <center>
            <hr class="col-10">
        </center>
        <div class="container-md bg-dark text-light p5 mt-4">
            <h2 class="display-6 pt-3 px-3">Follow Me-</h2>
            <div class="pb-3 px-3">
                <a href="https://github.com/aron-s"><img src="../../static/icons/GitHub-Mark-Light-32px.png" class="p-3"
                                                         alt="github icon"></a>
                <a href="https://www.linkedin.com/in/aron-shrestha-b9507a1ba/"><img src="../../static/icons/linkedin.png"
                                                                                    class="p-3"
                                                                                    alt="linkedIn icon"></a>
                <a href="https://www.facebook.com"><img src="../../static/icons/facebook.png" class="p-3" alt="facebook icon"></a>
                <a href="https://www.instagram.com"><img src="../../static/icons/instagram.png" class="p-3" alt="instagram icon"></a>
            </div>
        </div>
    </div>
{% endblock %}