{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="container-lg bg-dark text-light p5 border-top border-primary border-5 mt-3">
            <div class="container-lg bg-dark p-5">
                <h1 class="display-5 text-center">Welcome to my Website</h1>
                <hr>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../static/images/Git-Logo-2Color.png" class="d-block w-100 img-cour" alt="git image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Git/Github</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../static/images/homepage-docker-logo.png" class="d-block w-100 img-cour" alt="docker">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../static/images/flask.png" class="d-block w-100 img-cour" alt="flask">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../static/images/cicd.png" class="d-block w-100 img-cour" alt="CI/CD">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Fourth slide label</h5>
                                <p>Some representative placeholder content for the fourth slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
{#                <div class="row">#}
{#                    <p class="col-md-8 col-lg-9">Welcome to my personal website. Hi! I am Aron Shrestha, a junior#}
{#                        undergrad#}
{#                        at New Jersey Institute of Technology. I am a computer science#}
{#                        major with a minor in Mobile and Web. This personal website was made to showcase all my personal#}
{#                        projects that I have created during my studies. <br><br>#}
{#                        I intend for this website to keep improving as I improve on my skills. This website will be up#}
{#                        to#}
{#                        date will all of my latest projects and accomplishments.<br><br>#}
{#                        Languages used in my Projects :- <br>#}
{#                        - Java, Python, C++, HTML, CSS,#}
{#                    </p>#}
{#                    <img src="./images/mypic1.jpg" class="col-md-4 col-lg-3 img-fluid rounded-circle float-end mx-auto"#}
{#                         style="max-width: 350px;" alt="A picture of me">#}
{#                </div>#}
            </div>
        </div>
        <center>
            <hr class="col-10">
        </center>
        <div class="container-lg bg-primary p-4">
            <h2 class="display-6 p-3">Featured</h2>
            <div class="row pt-3 mx-3 text-center">
                <div class="col-md-4">
                    <div class="card border border-primary border-2 pb-2 mb-3">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <hr>
                            <p class="card-text">

                            </p>
                            <a href="https://github.com/aron-s/Lexical-Analyser" class="btn btn-primary mt-3"
                               target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border border-primary border-2 pb-2 mb-3">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <hr>
                            <p class="card-text">

                            </p>
                            <a href="https://github.com/aron-s/Virtual-assistant" class="btn btn-primary mt-3"
                               target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border border-primary border-2 pb-2 mb-3">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <hr>
                            <p class="card-text">

                            </p>
                            <a href="https://github.com/aron-s/NinePuzzle" class="btn btn-primary mt-3" target="_blank">View
                                Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}