{% extends "base.html" %}
{% block content %}
    <div class="container-md bg-light text-dark p5 border-top border-primary border-5 mt-3">
        <h1 class="display-5 text-center pt-3">Object Oriented Programming-</h1>
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <hr>
                <p class="text-center">
                    Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects. It is used to structure a software program into simple, reusable pieces of code blueprints (usually called classes), which are used to create individual instances of objects.
                </p><br>
                <hr>
                <div class="row">
                    <div class="col">
                        <h2 class="display-6">Four Principles of OOP</h2>
                        The four pillars of object oriented programming are:<br>
<ol>
    <li><b>Inheritance:</b> child classes inherit data and behaviors from parent class</li>
    <li><b>Encapsulation:</b> containing information in an object, exposing only selected information</li>
    <li><b>Abstraction:</b> only exposing high level public methods for accessing an object</li>
    <li><b>Polymorphism:</b> many methods can do the same task</li>
</ol>
                        We will further explain how these concepts are used in our calculator program below.
                        <hr>
                        <h2 class="display-6">Example of Our Calculator Class</h2>
                        Below is the code for a calculator class written by me to showcase the different principles of Object Oriented Programming.
                        <div class="ms-4 ps-4 mt-3 mb-3">
                            <code>
                                """ This is the Calculator Class"""<br>
class Calculator:<br>
    &emsp;&emsp;""" This is the default result property"""<br>
    &emsp;&emsp;result = 0<br>
<br>
    &emsp;&emsp;def add(self, value_1):<br>
       &emsp;&emsp;&emsp;&emsp; """ This is the add method"""<br>
        &emsp;&emsp;&emsp;&emsp;self.result = self.result + value_1<br>
        &emsp;&emsp;&emsp;&emsp;return self.result<br>
<br>
    &emsp;&emsp;def subtract(self, value_1):<br>
       &emsp;&emsp;&emsp;&emsp; """ This is the subtract method"""<br>
        &emsp;&emsp;&emsp;&emsp;self.result = self.result - value_1<br>
        &emsp;&emsp;&emsp;&emsp;return self.result<br>
    <br>
    &emsp;&emsp;def get_result(self):<br>
        &emsp;&emsp;&emsp;&emsp;""" This is the get result method"""<br>
        &emsp;&emsp;&emsp;&emsp;return self.result<br>
                            </code>
                        </div>
                        <br>
                        <hr>
                        <h2 class="display-6">How Image is Deployed in Dockerhub</h2>
                        The workflows mentioned above deploys the image onto DockerHub on push/merge into the master
                        branch as defined in our "prod.yml" file. The changes in the docker image is commited and pushed
                        into the docker repository. This happens automatically through github action workflows. <br>
                        <hr>
                        <h2 class="display-6">References-</h2>
                        <ol>
                            <li><a href="https://www.educative.io/blog/object-oriented-programming">https://www.educative.io/blog/object-oriented-programming</a>
                            </li>
                            <li><a href="https://www.martinfowler.com/bliki/ContinuousDelivery.html">https://www.martinfowler.com/bliki/ContinuousDelivery.html</a>
                            </li>
                        </ol>

                    </div>

                </div>
                <hr class="mb-4">
            </div>
        </div>
    </div>
{% endblock %}